<div class="wine-list-container">
  <h1 class="title">Vinos</h1>

  <div class="search-container">
    <mat-form-field appearance="outline">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Filtrar por</mat-label>
      <mat-select>
        <mat-option value="nombre">Nombre</mat-option>
        <mat-option value="tipo">Tipo</mat-option>
        <mat-option value="uvas">Uvas</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Contenedor de las tarjetas de vino -->
  <div class="wine-card-container">
    <div *ngFor="let product of dataSource.data" class="wine-card" (click)="onViewDetails(product)">
      <img [src]="product.link" alt="{{ product.nombre }}" class="wine-image">
      <div class="wine-info">
        <h3>{{ product.nombre }}</h3>
        <p>Calificación: {{ product.calificacion }} / 5</p>
        <p>{{ product.descripcion }}</p>
        <button mat-raised-button color="primary" (click)="onBuyWine($event, product)">Comprar</button>
      </div>
    </div>
  </div>

  <!-- Paginador -->
  <mat-paginator [pageSize]="5"></mat-paginator>
</div>
