.wine-list-container {
  padding: 20px;
  max-width: 1200px; /* Limitar el ancho máximo para pantallas grandes */
  margin: 0 auto; /* Centrar el contenedor */
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-weight: bold;
  color: #5a2e87; /* Color del título */
}

.search-container {
  display: flex;
  justify-content: center; /* Centra los elementos de búsqueda y filtro */
  gap: 15px;
  margin-bottom: 20px;
  flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas más pequeñas */
}

.mat-form-field {
  width: 100%;
  max-width: 250px;
}

.mat-input-element, .mat-select {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  padding: 10px;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  border-color: #d3d3d3; /* Color del borde del campo */
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  border-width: 2px;
}

.mat-select-arrow {
  color: #5a2e87; /* Color de la flecha del selector */
}

.mat-input-element:focus, .mat-select:focus {
  box-shadow: 0 2px 6px rgba(90, 46, 135, 0.3); /* Efecto de sombra al enfocar */
}

.mat-form-field-label {
  color: #5a2e87; /* Color del label */
  font-weight: bold;
}

.wine-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.wine-card {
  background-color: #fafafa;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra más pronunciada */
  width: calc(33.333% - 20px); /* Tres tarjetas por fila con espacio entre ellas */
  max-width: 300px; /* Establece un tamaño máximo para evitar tarjetas muy grandes */
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative; /* Para el botón "Comprar" flotante */
}

.wine-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2); /* Sombra más fuerte al hacer hover */
}

.wine-image {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

.wine-info h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.wine-info p {
  font-size: 14px;
  color: #555;
}

.wine-info p:last-of-type {
  margin-bottom: 20px; /* Espacio antes del botón */
}

button.mat-raised-button {
  background-color: #5a2e87; /* Color de fondo del botón "Comprar" */
  color: white;
  font-weight: bold;
  position: absolute;
  bottom: 15px; /* Fija el botón en la parte inferior de la tarjeta */
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
}

button.mat-raised-button:hover {
  background-color: #4a1e73; /* Color del botón al hacer hover */
}

.mat-paginator {
  margin-top: 20px;
}
