.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.wine-image {
  width: 300px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

dl {
  width: 100%;
}

dt {
  font-weight: bold;
  margin-top: 10px;
}

dd {
  margin-left: 0;
  margin-bottom: 10px;
}
