<h2 mat-dialog-title>Detalles del Producto</h2>
<mat-dialog-content>
  <div class="details-container">
    <!-- Mostrar la imagen del vino -->
    <img [src]="data.link" alt="Imagen del vino {{ data.name }}" class="wine-image">

    <dl>
      <dt>Nombre:</dt>
      <dd>{{ data.name }}</dd>

      <dt>Descripción:</dt>
      <dd>{{ data.description }}</dd>

      <dt>Tipo:</dt>
      <dd>{{ data.type }}</dd>

      <dt>Región:</dt>
      <dd>{{ data.region }}</dd>

      <dt>País:</dt>
      <dd>{{ data.country }}</dd>

      <dt>Año:</dt>
      <dd>{{ data.year }}</dd>

      <dt>Uvas:</dt>
      <dd>
        <ul>
          <li *ngFor="let grape of data.grapes.split(',')">{{ grape }}</li>
        </ul>
      </dd>

      <dt>Calificación:</dt>
      <dd>{{ data.rating }}</dd>

      <dt>Alcohol:</dt>
      <dd>{{ data.alcohol }}%</dd>

      <dt>Certificación:</dt>
      <dd>{{ data.certification }}</dd>
    </dl>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onClose()">Cerrar</button>
</mat-dialog-actions>
