<h2 mat-dialog-title>Detalles del Pedido</h2>
<mat-dialog-content>
  <dl>
    <dt>Número de Pedido:</dt>
    <dd>{{ data.numeroPedido }}</dd>

    <dt>Nombre del Productor:</dt>
    <dd>{{ producer?.firstName }} {{ producer?.lastName}}</dd>

    <dt>Correo del Productor:</dt>
    <dd>{{ producer?.email }}</dd>

    <dt>Productos:</dt>
    <dd>
      <ul>
        <li *ngFor="let producto of data.productos">{{ producto }}</li>
      </ul>
    </dd>

    <dt>Condición de Transporte:</dt>
    <dd>{{ data.condicionTransporte }}</dd>

    <dt>Método de Pago:</dt>
    <dd>{{ data.metodoPago }}</dd>

    <dt>Teléfono del Productor:</dt>
    <dd>{{ producer?.phone }}</dd>

    <dt>Términos de Pago:</dt>
    <dd>{{ data.terminosPago }}</dd>

    <dt>Fecha de Solicitud:</dt>
    <dd>{{ data.fecha | date:'dd/MM/yyyy' }}</dd>

    <dt>Fecha de Entrega:</dt>
    <dd>{{ data.fechaEntrega | date:'dd/MM/yyyy' }}</dd>

    <dt>Tipo:</dt>
    <dd>{{ data.tipo }}</dd>

    <dt>Estado:</dt>
    <dd>{{ data.estado }}</dd>

    <dt>Dirección del Productor:</dt>
    <dd>{{ producer?.email }}, {{ producer?.city }}, {{ producer?.country }}</dd>
  </dl>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onClose()">Cerrar</button>
</mat-dialog-actions>
