<header class="app-header">
  <mat-toolbar>
    <button mat-icon-button (click)="toggleSidenav()" class="menu-button">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="app-title" routerLink="/home">GrapeFlow</span>
    <span class="spacer"></span>

    <!-- Indicador sutil para "consumer" -->
    <div class="consumer-indicator">
      <mat-icon>person</mat-icon> <!-- Ícono de usuario -->
      <span class="consumer-label">Consumer</span>
    </div>

    <!-- Botones para cambiar idioma -->
    <div class="language-buttons">
      <button class="language-button" [class.active]="isActive('es')" (click)="changeLanguage('es')">Español</button>
      <button class="language-button" [class.active]="isActive('en')" (click)="changeLanguage('en')">English</button>
    </div>
  </mat-toolbar>
</header>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over">
    <mat-nav-list>
      <!-- Usamos rutas absolutas -->
      <a mat-list-item routerLink="/consumer/home-consumer" (click)="closeSidenav()" class="white-text">
        <mat-icon>home</mat-icon>
        <span class="link-text">Home</span>
      </a>
      <a mat-list-item routerLink="/consumer/product" (click)="closeSidenav()" class="white-text">
        <mat-icon>local_bar</mat-icon>
        <span class="link-text">Wines</span>
      </a>
      <a mat-list-item routerLink="/consumer/orders" (click)="closeSidenav()" class="white-text">
        <mat-icon>shopping_basket</mat-icon>
        <span class="link-text">My Orders</span>
      </a>
      <a mat-list-item routerLink="/login" (click)="logout()" class="white-text">
        <mat-icon>exit_to_app</mat-icon>
        <span class="link-text">Logout</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Aquí se renderizan las rutas hijas de consumidor -->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- Footer -->
<div class="footer-content">
  <p>Copyright © 2024</p>
  <p>Developed by the developer team of Villa System</p>
</div>
