<header class="app-header">
  <mat-toolbar>
    <button mat-icon-button (click)="toggleSidenav()" class="menu-button">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="app-title" routerLink="/home">GrapeFlow</span>
    <span class="spacer"></span>

    <!-- Indicador sutil para "consumer" -->
    <div class="consumer-indicator">
      <mat-icon>person</mat-icon> <!-- Ícono de usuario -->
      <span class="consumer-label">Consumer</span>
    </div>
  </mat-toolbar>
</header>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over">
    <mat-nav-list>
      <a mat-list-item routerLink="/home" (click)="closeSidenav()" class="white-text">
        <mat-icon>home</mat-icon>
        <span class="link-text">Inicio</span>
      </a>
      <a mat-list-item routerLink="/wines" (click)="closeSidenav()" class="white-text">
        <mat-icon>local_bar</mat-icon>
        <span class="link-text">Vinos</span>
      </a>
      <a mat-list-item routerLink="/my-orders" (click)="closeSidenav()" class="white-text">
        <mat-icon>shopping_basket</mat-icon>
        <span class="link-text">Mis pedidos</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
