.mat-toolbar {
  background-color: #2B2A43;
  color: white;
}

.app-header {
  background-color: #2B2A43;
}

.app-title {
  font-size: 24px;
  font-weight: bold;
}

.footer-content {
  background-color: #A70AC0; /* Color de fondo del footer */
  color: white; /* Color del texto */
  text-align: center; /* Centrar el texto */
  padding: 20px; /* Espaciado interno */
  width: 100%; /* Asegura que el footer ocupe el ancho completo */
  margin-top: auto; /* Empuja el footer hacia abajo si hay espacio */
}

.spacer {
  flex: 1;
}

.consumer-indicator {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #fff;
}

.consumer-indicator mat-icon {
  margin-right: 4px;
  color: #fff;
}

.sidenav-container {
  height: calc(100vh - 64px);
  background-color: white;
}

.mat-sidenav {
  width: 200px;
  background-color: #A70AC0;
  color: white;
}

.mat-sidenav-content {
  background-color: white;
}

.menu-button {
  margin-right: 16px;
}

.mat-nav-list {
  padding-top: 16px;
}

.mat-list-item {
  padding: 8px 16px;
}

.link-text {
  margin-left: 8px;
  vertical-align: middle;
}

.mat-icon {
  vertical-align: middle;
}

.white-text {
  color: white;
}

.white-text .link-text {
  color: white;
}

.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Asegura que ocupe toda la altura de la pantalla */
  background: linear-gradient(135deg, rgba(189, 12, 213, 0.45), #8838d2);
  font-family: 'Roboto', sans-serif;
}

.welcome-content {
  text-align: center;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semi-transparente */
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
  transition: transform 0.3s ease-in-out; /* Efecto de transición */
}

.welcome-content:hover {
  transform: scale(1.05); /* Aumenta ligeramente el tamaño al hacer hover */
}

.welcome-text {
  font-size: 2.5rem; /* Tamaño grande para el texto de bienvenida */
  color: #333; /* Color gris oscuro */
  margin: 0;
  font-weight: bold;
}

@media (max-width: 768px) {
  .welcome-text {
    font-size: 2rem; /* Reduce el tamaño en pantallas más pequeñas */
  }

  .welcome-content {
    padding: 20px; /* Menos padding en pantallas pequeñas */
  }
}

