.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #2B2A43;
}

.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: #2B2A43;
  color: white;
}

.app-title {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.footer-content {
  background-color: #A70AC0; /* Color de fondo del footer */
  color: white; /* Color del texto */
  text-align: center; /* Centrar el texto */
  padding: 20px; /* Espaciado interno */
  width: 100%; /* Asegura que el footer ocupe el ancho completo */
  margin-top: auto; /* Empuja el footer hacia abajo si hay espacio */
}

.spacer {
  flex: 1;
}

.consumer-indicator {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: white;
}

.consumer-indicator mat-icon {
  margin-right: 4px;
  color: white;
}

.sidenav-container {
  height: calc(100vh - 64px);
  background-color: white;
}

.mat-sidenav {
  width: 200px;
  background-color: #A70AC0;
  color: white;
}

.mat-sidenav-content {
  background-color: white;
}

.menu-button {
  margin-right: 16px;
}

.mat-nav-list {
  padding-top: 16px;
}

.mat-list-item {
  padding: 8px 16px;
}

.link-text {
  margin-left: 8px;
  vertical-align: middle;
}

.mat-icon {
  vertical-align: middle;
}

.white-text {
  color: white;
}

.white-text .link-text {
  color: white;
}

.language-buttons {
  display: flex;
  gap: 10px; /* Espacio entre los botones */
}

.language-button {
  background-color: #A70AC0; /* Fondo púrpura oscuro */
  color: white; /* Color del texto blanco */
  border: none; /* Elimina el borde por defecto */
  border-radius: 20px; /* Bordes redondeados */
  padding: 8px 16px; /* Relleno interno */
  font-size: 14px; /* Tamaño de fuente */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Transiciones suaves */
}

.language-button:hover {
  background-color: #8838d2; /* Color más claro al hacer hover */
  transform: scale(1.1); /* Aumenta ligeramente el tamaño al hacer hover */
}

.language-button:focus {
  outline: none; /* Elimina el borde al hacer clic */
}

.language-button.active {
  background-color: #5A2E87; /* Color más oscuro para el botón activo */
}
