.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(135deg, #f48fb1, #8e24aa);
  font-family: 'Roboto', sans-serif;
  color: white;
  text-align: center;
}

.login-container h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0;
  animation: fadeIn 1.5s forwards ease-out;
}

.login-box {
  background-color: white;
  padding: 40px 60px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInSlide 1s forwards ease-out;
}

button {
  margin: 12px 0;
  padding: 16px 36px;
  background-color: #ff80ab;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 1.4rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  background: linear-gradient(135deg, #ff80ab, #dc3ef8);
  transform: translateY(-5px);
}

button:active {
  background: linear-gradient(135deg, #d500f9, #9c27b0);
  transform: translateY(0);
}

button:focus {
  outline: none;
  box-shadow: 0 0 10px #ff80ab;
}

button i {
  margin-right: 8px;
}

@keyframes fadeIn  {
  to {
    opacity: 1;
  }
}


@keyframes fadeInSlide {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .login-container h2 {
    font-size: 2rem;
  }

  .login-container button {
    font-size: 1.2rem;
    padding: 12px 24px;
  }
}
