<header class="app-header">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="toggleSidenav()" class="menu-button">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="app-title" routerLink="/home">GrapeFlow</span>
    <span class="spacer"></span>
    <button mat-button (click)="logout()">Cerrar sesión</button>
  </mat-toolbar>
</header>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over">
    <mat-nav-list>
      <a mat-list-item (click)="closeSidenav()" class="white-text">
        <mat-icon >home</mat-icon>
        <span class="link-text">Inicio</span>

      </a>
      <a mat-list-item  routerLink="/inventory" (click)="closeSidenav()" class="white-text">
        <mat-icon> inventory</mat-icon>
        <span class="link-text">Inventario</span>
      </a>
      <a mat-list-item  (click)="closeSidenav()" class="white-text">
        <mat-icon>local_bar</mat-icon>
        <span class="link-text">Vinificacion</span>
      </a>
      <a mat-list-item  routerLink="/clients" (click)="closeSidenav()" class="white-text">
        <mat-icon>people</mat-icon>
        <span class="link-text">Mis clientes</span>
      </a>
      <a mat-list-item  (click)="closeSidenav()" class="white-text">
        <mat-icon>assignment</mat-icon>
        <span class="link-text">Mis pedidos</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
<router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
