<div class="app-container">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="over">
      <mat-nav-list>
        <a mat-list-item routerLink="/producer/home" (click)="closeSidenav()" class="white-text">
          <mat-icon>home</mat-icon>
          <span class="link-text">Home</span>
        </a>
        <a mat-list-item routerLink="/producer/inventory" (click)="closeSidenav()" class="white-text">
          <mat-icon>inventory</mat-icon>
          <span class="link-text">Inventory</span>
        </a>
        <a mat-list-item routerLink="/producer/lote" (click)="closeSidenav()" class="white-text">
          <mat-icon>local_bar</mat-icon>
          <span class="link-text">Winemaking</span>
        </a>
        <a mat-list-item routerLink="/producer/clients" (click)="closeSidenav()" class="white-text">
          <mat-icon>people</mat-icon>
          <span class="link-text">My Clients</span>
        </a>
        <a mat-list-item routerLink="/producer/orders" (click)="closeSidenav()" class="white-text">
          <mat-icon>assignment</mat-icon>
          <span class="link-text">My Orders</span>
        </a>
        <a mat-list-item routerLink="/producer/wines" (click)="closeSidenav()" class="white-text">
          <mat-icon>assignment</mat-icon>
          <span class="link-text">Wines</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <header class="app-header">
        <mat-toolbar color="primary">
          <button mat-icon-button (click)="toggleSidenav()" class="menu-button">
            <mat-icon>menu</mat-icon>
          </button>
          <span class="app-title" routerLink="/home">GrapeFlow</span>
          <span class="spacer"></span>
          <div class="producer-indicator">
            <mat-icon>store</mat-icon>
            <span class="producer-label">Producer</span>
          </div>
        </mat-toolbar>
      </header>

      <div class="main-content">
        <router-outlet></router-outlet>
      </div>

      <app-footer-content></app-footer-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
