.mat-toolbar {
  background-color: #2B2A43;
  color: white;
}


.app-header {
  background-color: #2B2A43;
}

.app-title {
  font-size: 24px;
  font-weight: bold;
}

.spacer {
  flex: 1;
}


.sidenav-container {
  height: calc(100vh - 64px);
  background-color: white;
}

.mat-sidenav {
  width: 200px;
  background-color: #A70AC0;
  color: white;
}


.mat-sidenav-content {
  background-color: white;
}
.menu-button {
  margin-right: 16px;
}

.mat-nav-list {
  padding-top: 16px;
}

.mat-list-item {
  padding: 8px 16px;
}

.link-text {
  margin-left: 8px;
  vertical-align: middle;
}
.mat-icon {
  vertical-align: middle;
}
.white-text {
  color: white;
}

.white-text .link-text {
  color: white;
}
