.clients-wrapper {
  margin: 20px;
}

h1 {
  color: purple;
  font-weight: bold; /* Making the title bold */
}

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.mat-mdc-form-field {
  flex-grow: 1;
  margin-right: 20px;
}

.client-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

mat-card {
  transition: all 0.3s ease;
  background-color: white;  /* Keeping the card background white */
}

mat-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

mat-card-header {
  padding: 16px;
}

mat-card-title {
  font-weight: bold;
  color: #333;  /* Dark color for the card title for better readability */
}

mat-card-subtitle {
  color: #666;  /* Slightly lighter color for the subtitle */
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
  padding: 8px;
}

.detail-button {
  color: #A70AC0;
}

.edit-button {
  color: #ffc107;
}

.delete-button {
  color: red;
}

mat-paginator {
  margin-top: 20px;
}

@media (max-width: 600px) {
  .client-cards {
    grid-template-columns: 1fr;
  }
}
