<div class="orders-wrapper">
  <h1><span class="producer-label">{{ 'CONSUMER.ORDER-REGISTRATION' | translate }}</span></h1>

  <div class="search-container">
    <!-- Campo para buscar -->
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event)" placeholder="{{ 'CONSUMER.SEARCH' | translate }}" #input>
    </mat-form-field>

    <!-- Campo para filtrar por diferentes opciones -->
    <mat-form-field>
      <mat-label>{{ 'CONSUMER.FILTER' | translate }}</mat-label>
      <mat-select [(ngModel)]="selectedFilter" (selectionChange)="onFilterChange(selectedFilter)">
        <mat-option value="numeroPedido">{{ 'CONSUMER.ORDER_NUMBER' | translate }}</mat-option>
        <mat-option value="tipo">{{ 'CONSUMER.TYPE' | translate }}</mat-option>
        <mat-option value="estado">{{ 'CONSUMER.STATUS' | translate }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Tabla para mostrar los pedidos -->
  <table mat-table [dataSource]="datasource" class="mat-elevation-z8" matSort>
    <!-- Columna para el número de pedido -->
    <ng-container matColumnDef="numeroPedido">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'CONSUMER.ORDER_NUMBER' | translate }}</th>
      <td mat-cell *matCellDef="let order">{{ order.numeroPedido }}</td>
    </ng-container>

    <!-- Columna para la fecha del pedido -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'CONSUMER.DATE' | translate }}</th>
      <td mat-cell *matCellDef="let order">{{ order.fecha | date: 'dd/MM/yyyy' }}</td>
    </ng-container>

    <!-- Columna para el tipo de producto -->
    <ng-container matColumnDef="tipo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'CONSUMER.TYPE' | translate }}</th>
      <td mat-cell *matCellDef="let order">{{ order.tipo }}</td>
    </ng-container>

    <!-- Columna para el estado del pedido -->
    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'CONSUMER.STATUS' | translate }}</th>
      <td mat-cell *matCellDef="let order">{{ order.estado }}</td>
    </ng-container>

    <!-- Columna para las acciones (ver detalles) -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>{{ 'CONSUMER.ACTIONS' | translate }}</th>
      <td mat-cell *matCellDef="let order">
        <button mat-icon-button color="primary" (click)="onViewDetails(order)" [attr.aria-label]="'CONSUMER.VIEW_DETAILS' | translate">
          <mat-icon>visibility</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Definir las filas de la tabla -->
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>

  <!-- Paginador -->
  <mat-paginator [pageSize]="5"></mat-paginator>
</div>
