<h1 mat-dialog-title>Agregar Lote</h1>
<div mat-dialog-content>
  <!-- Formulario para ingresar los detalles del lote -->
  <mat-form-field>
    <mat-label>Número de Lote</mat-label>
    <input matInput [(ngModel)]="lote.numeroLote">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Uva</mat-label>
    <input matInput [(ngModel)]="lote.uva">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Fecha de Inicio</mat-label>
    <input matInput [(ngModel)]="lote.fechaInicio" type="date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Cantidad de Litros</mat-label>
    <input matInput [(ngModel)]="lote.cantidadLitros" type="number">
  </mat-form-field>
  <!-- Añadir más campos según sea necesario -->
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-button color="primary" (click)="onSave()">Guardar</button>
</div>
