<h1>Agregar Nuevo Lote</h1>
<form (ngSubmit)="onSave()" #loteForm="ngForm">
  <mat-form-field appearance="fill">
    <mat-label>Número de Lote</mat-label>
    <input matInput [(ngModel)]="lote.batchNumber" name="batchNumber" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Uva</mat-label>
    <input matInput [(ngModel)]="lote.grape" name="grape" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Fecha de Inicio</mat-label>
    <input matInput [(ngModel)]="lote.startDate" name="startDate" type="string" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Cantidad Litros</mat-label>
    <input matInput [(ngModel)]="lote.litersQuantity" name="litersQuantity" type="number" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>pH</mat-label>
    <input matInput [(ngModel)]="lote.ph" name="ph" type="number" step="0.1" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Temperatura</mat-label>
    <input matInput [(ngModel)]="lote.temperature" name="temperature" type="number" required>
  </mat-form-field>

  <!-- Campo para el ID del productor -->
  <mat-form-field appearance="fill">
    <mat-label>ID del Productor</mat-label>
    <input matInput [(ngModel)]="lote.producerId" name="producerId" type="string" required>
  </mat-form-field>

  <!-- Campo para el estado del proceso -->
  <mat-form-field appearance="fill">
    <mat-label>Estado del Proceso</mat-label>
    <mat-select [(ngModel)]="lote.processStatus" name="processStatus" required>
      <mat-option value="En Proceso">En Proceso</mat-option>
      <mat-option value="Terminado">Terminado</mat-option>
      <mat-option value="Pendiente">Pendiente</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Agregar Lote</button>
  <button mat-button (click)="dialogRef.close()">Cancelar</button>
</form>
