.lote-wrapper {
  padding: 20px;
}

h1 {
  font-size: 80px;
  font-weight: bold;
  font-family: "Times New Roman", sans-serif;
  margin-bottom: 20px;
  color: #A70AC0; /* Mismo color de título que Registro de Pedidos */
}

.search-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.mat-mdc-header-row {
  background-color: #A70AC0; /* Color de encabezado igual a Registro de Pedidos */
  color: white;
}

.mat-mdc-row:nth-child(even) {
  background-color: #F5F5DC !important; /* Colores de las filas alternadas */
}

.mat-mdc-row:nth-child(odd) {
  background-color: #E6E6FA;
}

table {
  width: 100%;
  margin-top: 20px;
}

.mat-column-actions {
  width: 150px;
}

.mat-header-cell {
  font-weight: bold;
  color: #333; /* Mismo color de texto que Registro de Pedidos */
}

.mat-cell {
  padding: 10px;
}

mat-paginator {
  margin-top: 20px;
}

button[mat-raised-button] {
  margin-bottom: 20px;
}

.add-button {
  background-color: #ffc107 !important; /* Botón Agregar Lote con estilo igual al de Pedidos */
  color: white !important;
}
