<h2 mat-dialog-title>Wine Details</h2>
<mat-dialog-content>
  <dl>
    <dt>Name:</dt>
    <dd>{{ wine.name }}</dd>

    <dt>Description:</dt>
    <dd>{{ wine.description }}</dd>

    <dt>Type:</dt>
    <dd>{{ wine.type }}</dd>

    <dt>Year:</dt>
    <dd>{{ wine.year }}</dd>

    <dt>Region:</dt>
    <dd>{{ wine.region }}</dd>

    <dt>Country:</dt>
    <dd>{{ wine.country }}</dd>

    <dt>Grapes:</dt>
    <dd>{{ wine.grapes }}</dd>

    <dt>Alcohol (%):</dt>
    <dd>{{ wine.alcohol }}</dd>

    <dt>Certification:</dt>
    <dd>{{ wine.certification }}</dd>

    <dt>Rating:</dt>
    <dd>{{ wine.rating }}</dd>

    <dt>Status:</dt>
    <dd>{{ wine.state }}</dd>

    <dt>Lot:</dt>
    <dd>{{ wine.batchId }}</dd>
  </dl>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onClose()">Close</button>
</mat-dialog-actions>
