<div class="add-client-container">
  <h1>Agregar Cliente</h1>

  <form (ngSubmit)="onAdd()">
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput [(ngModel)]="newClient.nombre" name="nombre" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Apellido</mat-label>
      <input matInput [(ngModel)]="newClient.apellido" name="apellido" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Teléfono</mat-label>
      <input matInput [(ngModel)]="newClient.telefono" name="telefono" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Dirección</mat-label>
      <input matInput [(ngModel)]="newClient.direccion" name="direccion" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Ciudad</mat-label>
      <input matInput [(ngModel)]="newClient.ciudad" name="ciudad" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>País</mat-label>
      <input matInput [(ngModel)]="newClient.pais" name="pais" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>DNI</mat-label>
      <input matInput [(ngModel)]="newClient.dni" name="dni" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Correo</mat-label>
      <input matInput type="email" [(ngModel)]="newClient.correo" name="correo" required>
    </mat-form-field>

    <div class="button-container">
      <button mat-raised-button color="primary" type="submit">Agregar</button>
      <button mat-raised-button color="warn" (click)="onCancel()">Volver</button>
    </div>
  </form>
</div>
